.container-fluid
  #calculator
    #title.text-center
      | Calculator 9000
    #display
      #display-main.display-font.text-right
        | 0
      #display-secondary.display-font.text-right
        | 
    #buttons
      .row
        .col-xs-3
          button#ac-btn.btn
            | AC
        .col-xs-3
          button#ce-btn.btn
            | CE
        .col-xs-3
          button.btn.math-btn
            | รท
        .col-xs-3
          button.btn.math-btn
            | X
      .row
        .col-xs-3
          button.btn.num-btn
            | 7
        .col-xs-3
          button.btn.num-btn
            | 8
        .col-xs-3
          button.btn.num-btn
            | 9
        .col-xs-3
          button.btn.math-btn
            | -
      .row
        .col-xs-3
          button.btn.num-btn
            | 4
        .col-xs-3
          button.btn.num-btn
            | 5
        .col-xs-3
          button.btn.num-btn
            | 6
        .col-xs-3
          button.btn.math-btn
            | +
      .row
        .col-xs-3
          button.btn.num-btn
            | 1
        .col-xs-3
          button.btn.num-btn
            | 2
        .col-xs-3
          button.btn.num-btn
            | 3
        .col-xs-3
          button#equal-btn.btn
            | =
      .row
        .col-xs-6
          button#zero-btn.btn.num-btn
            | 0
        .col-xs-3
          button#decimal-btn.btn.num-btn
            | .
      
      